   <!-- footer -->
   <footer class="footer-section">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="widget company-intro-widget">
              <a class=" text-white" style="font-family: Bebas Neue;font-size:2rem;font-weight:bold"  href=""><span style="color:rgb(165, 54, 54);">Life</span>Style</a>
              <p class="my-2"> LifeStyle is a fashion based online store for mens, womens and kids</p>
              <ul class="company-footer-contact-list my-4 d-inline-flex mx-1 " style="font-size:22px;margin:0px 4px">
                <li class="mx-2"><i class="fa-brands fa-google"></i></li>
                <li class="mx-2"><i class="fa-brands fa-twitter"></i></li>
                <li class="mx-2"><i class="fa-brands fa-instagram"></i></li>
                <li class="mx-2"><i class="fa-brands fa-facebook"></i></li>
              </ul>
            </div>
          </div><!-- widget end -->
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="widget course-links-widget">
              <h6 class="widget-title">PRODUCTS</h6>
              <div>
                <p class="mb-1">Mens Clothes</p>
                <p class="my-1">Women Clothes</p>
                <p class="my-1">Accessories</p>
                <p class="my-1">Kids Clothes (comming soon)</p>
                <p class="my-1">Kids Accessories (comming soon)</p>
              </div>
            </div>
          </div><!-- widget end -->
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="widget latest-news-widget">
              <h6 class="widget-title">INFORMATION</h6>
              <div>
                <p class="mb-1">Home</p>
                <p class="mb-1">About</p>
                <p class="my-1">Contact</p>
                <p class="my-1">Support</p>
                <p class="my-1">Settings</p>
              </div>
            </div>
          </div><!-- widget end -->
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="widget newsletter-widget">
              <h6 class="widget-title">CONTACT</h6>
              <div class="footer-newsletter">
              <p class="my-2">Address: 60-49 Road 11378 India</p>
              <p class="my-2">Phone: +91 1111880888</p>
              <p class="my-2">Email: lifestyle@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <!-- <div class="footer-bottom">
      <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-sm-left text-center">
              <span class="copy-right-text">© 2022 <a href=""></a> All Rights Reserved.</span>
            </div>
            <div class="col-md-6 col-sm-6">
              <ul class="terms-privacy d-flex justify-content-sm-end justify-content-center">
                <li><a href="">Devoleped by</a></li>
                 <li><a href="#"></a></li> -->
              </ul>
            </div>
        </div>
      </div>
    </div>                      
  </footer>
          

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


</body>
</html>